<h1>Your Order</h1>

<table>
<tr>
  <th><%= @listing.name %></th>
  
  <th><%= number_to_currency(@listing.price) %></th>
</tr>
<tr>
  <td colspan="2"><%= @listing.description %></td>
</tr>
<tr>
  <th>Total</th>
  <th><%= number_to_currency(@listing.price) %></th>
</table>
<p>
  <button id="checkout">Checkout</button>
</p>

<script src="https://js.stripe.com/v3/"></script>

<script>
  var stripe = Stripe('pk_test_r1EmAHl6wPYYC0jA3wwdTYHC00JafccmBa');

  function goToCheckout() {
  stripe.redirectToCheckout({
  sessionId: '<%= @stripe_checkout_session.id %>',
  }).then(function (result) {
  // If `redirectToCheckout` fails due to a browser or network
  // error, display the localized error message to your customer
  // using `result.error.message`.
  });
  }
  var button = document.querySelector('#checkout');
  button.addEventListener('click', goToCheckout);
</script>