<nav class="navbar navbar-default" role="navagation">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse">
       <span class="sr-only">Toggle navagation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">SnackFu</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to "About", pages_about_path %></li>
          <li><%= link_to "Contact", pages_contact_path %></li> 
        
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to "Manage Listings", seller_path %></li>
              <li><%= link_to "Edit Profile", edit_user_registration_path %></li> 
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Sign Up", new_user_registration_path %></li> 
               <li><%= link_to "Sign In", new_user_session_path %></li> 
            <% end %>
        </ul>
      </div>

    <div class="search">
      <form class="form-inline my-2 my-lg-0" action="<%= listings_path %>">
        <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit", class: btn btn-primary>Search</button>
      </form>    
    </div>

    <% if @search_term %>
      <p>
        Found <%= pluralize(@listings.count, "listings") %> matching <em><%= @search_term %></em>
      </p>
    <% end %>
 </nav>
